.vs
Library
Logs
obj
Temp
UserSettings
.vsconfig
*.csproj
*.sln


/Game_ReviveSummoner/Assets/AseetStore/HeroEditor4D/FantasyHeroes/Sprites/Equipment/Supplies
/Game_ReviveSummoner/Assets/AseetStore/HeroEditor4D/FantasyHeroes/Sprites/Equipment/MeleeWeapon1H/Basic
/Game_ReviveSummoner/Assets/AseetStore/HeroEditor4D/FantasyHeroes/Sprites/Equipment/MeleeWeapon2H
/Game_ReviveSummoner/Assets/AseetStore/HeroEditor4D/FantasyHeroes/Sprites
/Game_ReviveSummoner/Assets/AseetStore/HeroEditor4D/InventorySystem
/Game_ReviveSummoner/Assets/AseetStore/HeroEditor4D/FantasyHeroes
